@charset "UTF-8";
::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

::-webkit-scrollbar-thumb {
  background: #B3AFB3;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
  background: #B3AFB3;
}

::-webkit-scrollbar-track {
  background: #F0F0F0;
  border-radius: 0px;
  box-shadow: inset 0px 0px 0px 0px #F0F0F0;
}

.layout_prgms_stages {
  display: grid;
  grid-template-rows: calc(100% - 176px) 80px;
  gap: 8px 8px;
  grid-auto-flow: row;
  grid-template-areas: "list-section" "fab-section";
  width: 100%;
  height: 100%;
}
.layout_prgms_stages .list-section {
  overflow-y: auto;
  padding-right: 1px;
  grid-area: list-section;
}
.layout_prgms_stages .fab-section {
  grid-area: fab-section;
}
.layout_prgms_stages .fab-section .fab {
  margin: 16px auto;
}

.layout_program_stage_sections {
  display: grid;
  grid-template-columns: calc(100% - 336px) 336px;
  grid-template-rows: calc(100vh - 176px) 80px;
  gap: 8px 8px;
  grid-auto-flow: row dense;
  justify-content: top;
  align-content: top;
  grid-template-areas: "list-section survey-section" "fab-section cta-section";
  width: 100%;
  height: 100%;
}
.layout_program_stage_sections .survey-section {
  grid-area: survey-section;
}
.layout_program_stage_sections .list-section {
  overflow-y: auto;
  padding-right: 1px;
  grid-area: list-section;
}
.layout_program_stage_sections .fab-section {
  grid-area: fab-section;
}
.layout_program_stage_sections .fab-section .fab {
  margin: 16px auto;
}
.layout_program_stage_sections .cta-section {
  text-align: right;
  font-size: 2em;
  grid-area: cta-section;
}

.cmpt_program_bsct {
  display: grid;
  grid-template-columns: 24px calc(100% - 190px) 90px auto;
  grid-template-rows: auto;
  gap: 8px 8px;
  grid-auto-flow: auto;
  align-content: center;
  grid-template-areas: "icon title warning_error cta";
  border-radius: 4px;
  padding: 12px 8px 8px;
  margin: 0 0 8px;
}
.cmpt_program_bsct .program_bsct-icon {
  grid-area: icon;
}
.cmpt_program_bsct .program_bsct-title {
  line-height: 24px;
  text-align: left;
  grid-area: title;
}
.cmpt_program_bsct .program_bsct-title span {
  font-size: smaller;
}
.cmpt_program_bsct .program_bsct-warning_error {
  position: relative;
  grid-area: warning_error;
}
.cmpt_program_bsct .program_bsct-warning_error img {
  cursor: pointer;
  margin: 0 8px;
}
.cmpt_program_bsct .program_bsct-warning_error .program_bsct-cw {
  position: absolute;
  top: -5;
  left: 20px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  font-size: 6px;
  line-height: 19px;
  text-align: center;
  color: #822BDA;
  background-color: #FFFFFF;
}
.cmpt_program_bsct .program_bsct-warning_error .program_bsct-cont_w {
  position: absolute;
  top: 30;
  left: -228px;
  width: 260px;
  height: 18px;
  z-index: 9999;
}
.cmpt_program_bsct .program_bsct-warning_error .program_bsct-cont_w .program_bsct-warnings {
  width: auto;
  height: auto;
  font-size: 10px;
  line-height: 10px;
  padding: 8px;
  margin: 0 0 2px;
  text-align: left;
  color: #FFFFFF;
  background-color: #F19F00;
  border: 2px solid #ffeecb;
  border-radius: 4px;
  cursor: pointer;
}
.cmpt_program_bsct .program_bsct-warning_error .program_bsct-cont_e {
  position: absolute;
  top: 30;
  left: -180px;
  width: 260px;
  height: 18px;
  z-index: 9999;
}
.cmpt_program_bsct .program_bsct-warning_error .program_bsct-cont_e .program_bsct-errors {
  width: auto;
  height: auto;
  font-size: 10px;
  line-height: 10px;
  padding: 8px;
  margin: 0 0 2px;
  text-align: left;
  color: #FFFFFF;
  background-color: #BA4E4E;
  border: 2px solid #ffeecb;
  border-radius: 4px;
  cursor: pointer;
}
.cmpt_program_bsct .program_bsct-warning_error .program_bsct-ce {
  position: absolute;
  top: -5;
  right: 7px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  font-size: 6px;
  line-height: 19px;
  text-align: center;
  color: #822BDA;
  background-color: #FFFFFF;
}
.cmpt_program_bsct .program_bsct-cta {
  position: relative;
  grid-area: cta;
}
.cmpt_program_bsct .program_bsct-cta img {
  cursor: pointer;
}
.cmpt_program_bsct .program_bsct-cta .menu_program {
  position: absolute;
  z-index: 9999;
  top: 0;
  right: 30px;
  width: 220px;
  height: 146px;
  color: #333333;
  background-color: #FFFFFF;
  border-radius: 4px;
  filter: drop-shadow(14px 14px 14px rgba(0, 0, 0, 0.25));
  padding: 8px 0;
}
.cmpt_program_bsct .program_bsct-cta .menu_program .menu_program-edit {
  clear: both;
  height: 48px;
}
.cmpt_program_bsct .program_bsct-cta .menu_program .menu_program-edit:hover {
  cursor: pointer;
  background-color: #d3d3d3;
}
.cmpt_program_bsct .program_bsct-cta .menu_program .menu_program-edit .i-edit {
  float: left;
  margin: 12px 18px 12px 24px;
}
.cmpt_program_bsct .program_bsct-cta .menu_program .menu_program-edit .i-text {
  float: left;
  line-height: 24px;
  margin: 12px 8px 12px 0;
}
.cmpt_program_bsct .program_bsct-cta .menu_program .menu_program-sharing {
  clear: both;
  height: 48px;
}
.cmpt_program_bsct .program_bsct-cta .menu_program .menu_program-sharing:hover {
  cursor: pointer;
  background-color: #d3d3d3;
}
.cmpt_program_bsct .program_bsct-cta .menu_program .menu_program-sharing .i-sharing {
  float: left;
  margin: 12px 18px 12px 24px;
}
.cmpt_program_bsct .program_bsct-cta .menu_program .menu_program-sharing .i-text {
  float: left;
  line-height: 24px;
  margin: 12px 8px 12px 0;
}
.cmpt_program_bsct .program_bsct-cta .menu_program .menu_program-delete {
  clear: both;
  height: 48px;
}
.cmpt_program_bsct .program_bsct-cta .menu_program .menu_program-delete:hover {
  cursor: pointer;
  background-color: #d3d3d3;
}
.cmpt_program_bsct .program_bsct-cta .menu_program .menu_program-delete .i-delete {
  float: left;
  margin: 12px 18px 12px 24px;
}
.cmpt_program_bsct .program_bsct-cta .menu_program .menu_program-delete .i-text {
  float: left;
  line-height: 24px;
  color: #BA4E4E;
  margin: 12px 8px 12px 0;
}

.slctr_hidden {
  visibility: hidden;
}

.sub_nav {
  width: 100%;
  height: auto;
  padding: 8px 16px;
  background-color: #D5D6D9;
  margin-bottom: 8px;
}
.sub_nav .my_path {
  font-size: 16px;
  font-weight: 400;
  height: 24px;
}
.sub_nav .my_path div {
  line-height: 24px;
}
.sub_nav .my_path .path {
  float: left;
  color: #333;
  cursor: pointer;
}

.survey_obj-i_l1 {
  float: left;
  width: 24px;
  height: 24px;
  margin: 6px 0;
}

.survey_obj-i_l2 {
  float: left;
  width: 24px;
  height: 24px;
  margin: 6px 0 6px 32px;
}

.survey_obj_l1 {
  display: grid;
  grid-template-columns: 32px calc(100% - 32px);
  grid-template-rows: auto;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "section-drag section-text";
  cursor: pointer;
}
.survey_obj_l1 .section-drag {
  padding: 6px 4px;
  background: #F6F9FB;
  border-radius: 6px 0 0 6px;
  border-top: 0.5px solid #2E6692;
  border-left: 0.5px solid #2E6692;
  border-bottom: 0.5px solid #2E6692;
  grid-area: section-drag;
}
.survey_obj_l1 .section-text {
  background: #F6F9FB;
  border-radius: 0 6px 6px 0;
  border-top: 0.5px solid #2E6692;
  border-right: 0.5px solid #2E6692;
  border-bottom: 0.5px solid #2E6692;
  grid-area: section-text;
}
.survey_obj_l1 .section-text div {
  padding: 0 8px;
  font-size: 10px;
  width: 100%;
}
.survey_obj_l1 .section-text .title {
  padding-top: 2px;
  font-weight: 700;
  color: #006BBD;
}
.survey_obj_l1 .section-text .elmnts {
  padding-bottom: 2px;
  color: #8D8E8F;
}

.survey_obj_l2 {
  display: grid;
  grid-template-columns: 32px calc(100% - 32px);
  grid-template-rows: auto;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "section-drag section-text";
  cursor: pointer;
}
.survey_obj_l2 .section-level {
  padding: 6px 0 6px 24px;
  grid-area: section-level;
}
.survey_obj_l2 .section-drag {
  padding: 6px 4px;
  background: #F6F9FB;
  border-radius: 6px 0 0 6px;
  border-top: 0.5px solid #29C4A9;
  border-left: 0.5px solid #29C4A9;
  border-bottom: 0.5px solid #29C4A9;
  grid-area: section-drag;
}
.survey_obj_l2 .section-text {
  background: #F6F9FB;
  border-radius: 0 6px 6px 0;
  border-top: 0.5px solid #29C4A9;
  border-right: 0.5px solid #29C4A9;
  border-bottom: 0.5px solid #29C4A9;
  white-space: nowrap;
  grid-area: section-text;
}
.survey_obj_l2 .section-text:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.survey_obj_l2 .section-text div {
  padding: 0 8px;
  font-size: 10px;
  width: 100%;
}
.survey_obj_l2 .section-text .title {
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  font-weight: 700;
  color: #29C4A9;
}

.survay_panel {
  display: grid;
  grid-template-columns: 48px calc(100% - 96px) 48px;
  grid-template-rows: 40px 48px calc(100% - 88px);
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-content: center;
  align-content: start;
  justify-items: stretch;
  align-items: start;
  grid-template-areas: "section-icon section-title section-title_cta" "section-search section-search section-search" "section-content-list section-content-list section-content-list";
  width: 100%;
  height: 100%;
  border: 0.5px solid rgba(0, 0, 0, 0.15);
}
.survay_panel .section-icon {
  background-color: #2E6692;
  padding: 8px 8px 8px 16px;
  grid-area: section-icon;
}
.survay_panel .section-title {
  background-color: #2E6692;
  line-height: 40px;
  color: #fff;
  grid-area: section-title;
}
.survay_panel .section-title_cta {
  text-align: right;
  background-color: #2E6692;
  padding: 11px 8px !important;
  grid-area: section-title_cta;
}
.survay_panel .section-search {
  background-color: #F1F5F9;
  grid-area: section-search;
  padding: 8px 16px;
  height: 48px;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.15);
}
.survay_panel .section-search .survey-search {
  float: left;
  width: 220px;
  padding-left: 8px;
  color: #D5D6D9;
  line-height: 28px;
  background-color: #FAFCFF;
  border: 0.5px solid rgba(0, 0, 0, 0.15);
  border-radius: 15px;
}
.survay_panel .section-search #survey_btn-colaps_expand {
  float: left;
  text-align: right;
  width: 80px;
  height: 100%;
  color: #2E6692;
  padding-left: 8px;
  line-height: 28px;
}
.survay_panel .section-content-list {
  height: 100%;
  padding: 8px;
  background-color: #F7F4FB;
  overflow-y: auto;
  grid-area: section-content-list;
}
.survay_panel .section-content-list .survey_obj_l1, .survay_panel .section-content-list .survey_obj_l2 {
  margin-bottom: 8px;
}

.fab {
  width: 48px;
  height: 48px;
  color: #FFF;
  line-height: 42px;
  text-align: center;
  border-radius: 24px;
  font-size: 2em;
  cursor: pointer;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

#menu {
  background: #276696;
  color: #FFF;
  height: 48px;
  padding-left: 18px;
  border-radius: 0px;
}
#menu ul,
#menu li {
  margin: 0 auto;
  padding: 0;
  list-style: none;
}
#menu ul {
  width: 100%;
}
#menu ul li {
  float: left;
  display: inline;
  position: relative;
}
#menu ul li a {
  display: block;
  line-height: 48px;
  padding: 0 14px;
  text-decoration: none;
  color: #FFFFFF;
  font-size: 16px;
}
#menu ul li a.dropdown-arrow:after {
  content: "▾";
  margin-left: 5px;
}
#menu ul li a:hover {
  color: #FFFFFF;
  background: #276696;
}
#menu ul li .active {
  color: #FFFFFF;
  background: #276696;
}
#menu input {
  display: none;
  margin: 0;
  padding: 0;
  height: 48px;
  width: 100%;
  opacity: 0;
  cursor: pointer;
}
#menu label {
  display: none;
  line-height: 48px;
  text-align: center;
  position: absolute;
  left: 35px;
}
#menu label:before {
  font-size: 1.6em;
  content: "≡";
  margin-left: 20px;
}
#menu ul.sub-menus {
  height: auto;
  overflow: hidden;
  width: 170px;
  background: #276696;
  position: absolute;
  z-index: 99;
  display: none;
}
#menu ul.sub-menus li {
  display: block;
  width: 100%;
}
#menu ul.sub-menus a {
  color: #FFFFFF;
  font-size: 16px;
}
#menu li:hover ul.sub-menus {
  display: block;
}
#menu ul.sub-menus a:hover {
  background: #8ecbfa;
  color: #333;
}

@media screen and (max-width: 800px) {
  #menu {
    position: relative;
  }
  #menu ul {
    background: #111;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: 3;
    height: auto;
    display: none;
  }
  #menu ul.sub-menus {
    width: 100%;
    position: static;
  }
  #menu ul.sub-menus a {
    padding-left: 30px;
  }
  #menu li {
    display: block;
    float: none;
    width: auto;
  }
  #menu input,
#menu label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
  }
  #menu input {
    z-index: 4;
  }
  #menu input:checked + label {
    color: white;
  }
  #menu input:checked + label:before {
    content: "×";
  }
  #menu input:checked ~ ul {
    display: block;
  }
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body,
.wrapper {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

body {
  overflow-x: hidden;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App-link {
  color: #1800eb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.btn-dark {
  background-color: #333;
  padding: 8px;
  margin: 8px 4px;
  color: #FFF;
  border-radius: 4px;
  text-decoration: none;
}

.wrapper {
  padding: 0 16px !important;
}

.rdm {
  width: 100%;
  height: 100%;
  padding-top: 50px;
}
.rdm .rdm_left {
  float: left;
  width: 224px;
}
.rdm .rdm_left img {
  width: 200px;
}
.rdm .rdm_right {
  float: left;
  width: calc(100% - 224);
  padding-top: 21px;
  font-size: xx-large;
}
.rdm .rdm_right h1 {
  font-size: 50%;
}
.rdm .rdm_right a {
  text-decoration: none;
}

/*# sourceMappingURL=main.css.map */
