.programItem {
    display: flex;
    margin: 5px;
    padding: 5px;
    box-shadow: 3px 3px 5px gray;
    align-items: center;
}

.programItem > .uid {
    flex: 1 1 auto;
}

.programItem > .title {
    flex: 3 1 auto;
}

.programItem > .action {
    margin-left: auto;
    vertical-align: middle;
}

.programItem > .action > button {
    padding: 10px;
    cursor: pointer;
}