.ml_item {
    display: grid;
    grid-template-columns: 24px calc(100% - 190px) 90px auto;
    grid-template-rows: auto;
    gap: 8px 8px;
    grid-auto-flow: auto;
    align-content: center;
    grid-template-areas:
        "icon title warning_error cta";
    border-radius: $radius;
    padding: 12px 8px 8px;

    .ml_item-icon {
        grid-area: icon;
        cursor: move;
    }

    .ml_item-title {
        line-height: 24px;
        text-align: left;
        grid-area: title;

        span {
            font-size: smaller;
        }
    }

    .ml_item-warning_error {
        position: relative;
        grid-area: warning_error;

        img {
            cursor: pointer;
            margin: 0 8px;
        }

        .ml_item-cw {
            position: absolute;
            top: -5;
            left: 20px;
            width: 18px;
            height: 18px;
            border-radius: 50%;
            font-size: 6px;
            line-height: 19px;
            text-align: center;
            color: $c_warning_n_p-fc;
            background-color: $c_warning_n-bk;
        }

        .ml_item-cont_w {
            position: absolute;
            top: 30;
            left: -228px;
            width: 260px;
            height: 18px;
            z-index: 9999;

            .ml_item-warnings {
                width: auto;
                height: auto;
                font-size: 10px;
                line-height: 10px;
                padding: 8px;
                margin: 0 0 2px;
                text-align: left;
                color: $c_warning-text;
                background-color: $c_warning;
                border: 2px solid #ffeecb;
                border-radius: $radius;
                cursor: pointer;
            }
        }

        .ml_item-cont_e {
            position: absolute;
            top: 30;
            left: -180px;
            width: 260px;
            height: 18px;
            z-index: 9999;

            .ml_item-errors {
                width: auto;
                height: auto;
                font-size: 10px;
                line-height: 10px;
                padding: 8px;
                margin: 0 0 2px;
                text-align: left;
                color: $c_warning-text;
                background-color: $c_error;
                border: 2px solid #ffeecb;
                border-radius: $radius;
                cursor: pointer;
            }
        }

        .ml_item-ce {
            position: absolute;
            top: -5;
            right: 7px;
            width: 18px;
            height: 18px;
            border-radius: 50%;
            font-size: 6px;
            line-height: 19px;
            text-align: center;
            color: $c_warning_n_p-fc;
            background-color: $c_warning_n-bk;
        }
    }

    .ml_item-cta {
        position: relative;
        grid-area: cta;

        img {
            float: right;
            cursor: pointer;
        }

        .menu_bsct-cta {
            position: absolute;
            z-index: 9999;
            top: 0;
            right: 30px;
            width: 220px;
            height: 146px;
            color: $color_typ_Primary;
            background-color: #FFFFFF;
            border-radius: $radius;
            filter: $shadow;
            padding: 8px 0;

            .menu_bsct-cta-edit {
                clear: both;
                height: 48px;

                &:hover {
                    cursor: pointer;
                    background-color: $hover_item_bk;
                }

                .i-edit {
                    float: left;
                    margin: 12px 18px 12px 24px;
                }

                .i-text {
                    float: left;
                    line-height: 24px;
                    margin: 12px 8px 12px 0;
                }
            }

            .menu_bsct-cta-sharing {
                clear: both;
                height: 48px;

                &:hover {
                    cursor: pointer;
                    background-color: $hover_item_bk;
                }

                .i-sharing {
                    float: left;
                    margin: 12px 18px 12px 24px;
                }

                .i-text {
                    float: left;
                    line-height: 24px;
                    margin: 12px 8px 12px 0;
                }
            }

            .menu_bsct-cta-delete {
                clear: both;
                height: 48px;

                &:hover {
                    cursor: pointer;
                    background-color: $hover_item_bk;
                }

                .i-delete {
                    float: left;
                    margin: 12px 18px 12px 24px;
                }

                .i-text {
                    float: left;
                    line-height: 24px;
                    color: $c_error;
                    margin: 12px 8px 12px 0;
                }
            }
        }
    }
}

.section_cont {
    display: none;
    width: 100%;
    min-height: 70px;
    background-color: #8ec8c863;
    padding: 8px 16px;
    margin: 0 0 8px;
    border-radius: 0 0 4px 4px;

    .fab {
        margin: 0 auto;
    }

    .fab_cont {
        margin: 0 auto;
    }
}

.de_cont {
    display: none;
    width: 100%;
    min-height: 70px;
    background-color: #29c4aa2d !important;
    padding: 8px 16px 16px;
    margin: 0 0 8px;
    border-radius: 0 0 4px 4px;

    .line_1 {
        width: 100%;
        height: 48px;

        div {
            float: left;
            width: 50%;
            text-align: left;

            label {
                font-weight: 500;
                font-size: 20px;
                line-height: 23px;
                color: #333333;
            }

            .split_button {
                float: right;
            }
        }
    }

    .line_2 {
        width: 100%;
        height: 48px;

        div {
            float: left;
            width: 50%;
            text-align: left;

            .split_button {
                float: left;
            }
        }
    }

    .line_3 {
        width: 100%;
        height: 48px;

        div {
            float: left;
            width: 50%;
            text-align: left;

            .button_s {
                float: right;
                margin-left: 8px;
            }
        }
    }

    .line_4,
    .line_5,
    .line_6 {
        width: 100%;
        height: 48px;
    }

    .line_7 {
        width: 100%;
        height: 48px;

        div {
            float: left;
            width: 50%;
            text-align: left;

            .input_field {
                width: 100%;
            }

            .split_button {
                width: 150px !important;
                margin-left: 8px;
                float: right;
            }
        }
    }

    .hnqis_area {
        width: 100%;
        height: max-content;
        padding: 8px;
        border-top: 2px solid #333;
        background-color: rgba(51, 51, 51, 0.075);

        .line_1 {
            width: 100%;
            height: 48px;

            .input_field {
                max-width: 120px;
                margin-right: 8px;
            }

            .switch {
                max-width: 130px;
            }
        }

        .line_2 {
            width: 100%;
            height: 48px;

            .input_field {
                width: calc(100% - 138px);
            }

            .switch {
                max-width: 130px;
                margin-right: 8px;
            }
        }
    }

    .line_cta {
        margin-top: 12px;
        width: 100%;
        height: 36px;

        .button_icon {
            float: right;
            min-width: 90px;
            margin-left: 8px;
        }
    }
}

.slctr_hidden {
    visibility: hidden;
}

.sortable-list {
    height: max-content;
    width: 100%;
    list-style-type: none;

    li {
        width: 100%;
        height: max-content;
        min-height: 48px;
        margin: 0 0 8px;

        .placeholder {
            height: 48px;
        }
    }

    .sortable {
        width: 100%;

        .ui-sortable-helper {
            opacity: 0.5;
        }
    }

    .placeholder {
        border-radius: 4px;
        background-color: #F7C05A;
    }
}

.right {
    width: 100%;
}

.left {
    width: 100%;
}