//colors

$c_program: #822BDA;

$c_program_stage: #00B1BC;
$c_program_stage_s: #2B87DA;

$c_data_element: #29C4A9;

$c_warning: #F19F00;
$c_warning_n-bk: #FFFFFF;
$c_warning_n_p-fc: #822BDA;
$c_warning-text: #FFFFFF;
$c_error: #BA4E4E;
$c_error_n-bk: #FFFFFF;
$c_error_n_p-fc: #822BDA;
$c_operator: #FF9900;
$c_variable: #A65499;

$field-margin: (0px 0px 12px 0px);
$comp-border: #B1B1B1;
$hover_item_bk: #d3d3d3;
$radius: 4px;
$shadow: drop-shadow(14px 14px 14px rgba(0, 0, 0, 0.25));
$color_white: #FFF;
$color_white: #FFF;

$cases_count: 12;

// Buttons
$buttons: true !default;