//colors

$c_program: #822bda;

$c_program_stage: #00b1bc;
$c_program_stage_s: #2b87da;

$c_data_element: #29c4a9;

$c_warning: #f19f00;
$c_warning_n-bk: #ffffff;
$c_warning_n_p-fc: #822bda;
$c_warning-text: #ffffff;
$c_error: #ba4e4e;
$c_error_n-bk: #ffffff;
$c_error_n_p-fc: #822bda;
$c_operator: #ff9900;
$c_variable: #a65499;

$field-margin: (0px 0px 12px 0px);
$comp-border: #b1b1b1;
$hover_item_bk: #d3d3d3;
$radius: 4px;
$shadow: drop-shadow(14px 14px 14px rgba(0, 0, 0, 0.25));
$color_white: #fff;
$color_white: #fff;

$cases_count: 12;

// Buttons
$buttons: true !default;
